<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>
    <!-- Group of components of all the dependency dlls -->
    <ComponentGroup
        Id="Dependencies"
        Directory="INSTALLFOLDER"
        Source="!(wix.DependencyDir)">
      <Component>
        <File Name="libcairo-2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libglib-2.0-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgobject-2.0-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libpoppler-glib-8.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgcc_s_seh-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libfontconfig-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libfreetype-6.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libpixman-1-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libpng16-16.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="zlib1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libwinpthread-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libintl-8.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libpcre-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libffi-6.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libpoppler-62.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libstdc++-6.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgio-2.0-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libexpat-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libiconv-2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libbz2-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libharfbuzz-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libcurl-4.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libjpeg-8.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="liblcms2-2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libnspr4.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="nss3.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libopenjpeg-5.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="smime3.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libtiff-5.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgmodule-2.0-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgraphite2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="LIBEAY32.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libidn-11.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libnghttp2-14.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="librtmp-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libssh2-1.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="SSLEAY32.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="nssutil3.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libplc4.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libplds4.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="liblzma-5.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgmp-10.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libgnutls-30.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libhogweed-4-2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libnettle-6-2.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libp11-kit-0.dll" KeyPath="yes"/>
      </Component>
      <Component>
        <File Name="libtasn1-6.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
